
<div id="funcionario" class="container default-width-content">

    <div class="col-ms-12 col-sm-12 col-xs-12 breadcrumb-custom">
        <p class="breadcrumb-custom"><a href="#/" class="gray">Inicio</a> | <a href="#/funcionario/{{funcionario.id}}?n={{funcionario.nombres}}&a1={{funcionario.apellido1}}&a2={{funcionario.apellido2}}">{{funcionario.nombres + " " + funcionario.apellido1 + " " + funcionario.apellido2}}</a></p>
    </div>

    <div class="row">
        <div class="col-md-6 funcionario-info">
            <div class="inner-content gradient-blue text-center">
                <i class="fa fa-user icon-circle funcionario-icon"></i>
                <h2>{{funcionario.nombres + " " + funcionario.apellido1 + " " + funcionario.apellido2}}</h2>
                <p><strong>CARGO: </strong> {{cargoFuncionario}}</p>
                <p><strong>INSTITUCIÓN: </strong> {{funcionarioResumen.dependencia}}</p>
                <p><strong>NÚMERO TOTAL DE VIAJES: </strong> {{funcionarioResumen.totalViajes}}</p>
                <!--<p><strong>FECHA DE INGRESO: </strong> {{funcionarioResumen.fechaIngreso ? funcionarioResumen.fechaIngreso : '[No registrada]'}}</p>-->

                <h2><strong><span>{{funcionarioResumen.totalGasto | currency:"$":0}}</span></strong></h2>
                <p><strong>GASTO HASTA EL MOMENTO EN VIAJES</strong></p>

                <br/>
                <div class="row">
                    <div class="col-md-10 col-sm-8 col-xs-12 col-md-offset-1 col-sm-offset-2">
                        <a href="" ng-click="fbShare()" class="btn btn-default blue square-corners col-sm-4"><strong><small>
                                    <i class="fa fa-facebook fa-lg"></i> COMPARTIR</small></strong></a>
                        <a class="btn btn-default blue square-corners col-sm-4" target="new"
                           ng-href="https://twitter.com/intent/tweet/?text=Conoce los viajes de {{funcionario.nombres + ' ' + funcionario.apellido1 + ' ' + funcionario.apellido2}} en &hashtags=ViajesClaros&url=http://viajesclaros.inai.org.mx/funcionario/{{funcionario.id}}?n={{funcionario.nombres.split(' ').join('%2520')}}%26a1={{funcionario.apellido1.split(' ').join('%2520')}}%26a2={{funcionario.apellido2.split(' ').join('%2520')}}"><strong><small>
                                    <i class="fa fa-twitter fa-lg"></i> COMPARTIR</small></strong></a>
                        <a class="btn btn-default blue square-corners col-sm-4" ng-click="open()"><strong><small>
                                    SUSCRIBIRME</small></strong></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 gray">
            <div class="inner-content table-container panel panel-default">
                <!--<div class="panel-heading"><strong>Últimos tres viajes de trabajo</strong></div>-->
                <div class="cell-container panel-body">
                    <h3 class="text-center">Últimos tres viajes de trabajo</h3>

                    <table class="table table-striped small">
                        <tr ng-repeat="v in viajes| orderBy:'-fechaInicio' | limitTo: 3">
                            <td><a href="#/viaje/{{v.id}}"><i class="icon-hotel"></i></a></td>
                            <td><a href="#/viaje/{{v.id}}">
                                    <span class="big-blue">{{v.costoTotal| currency: "$"}}</span>
                                    <p class="location">{{v.ciudadDestino + ", " + v.paisDestino| uppercase}}</p>
                                    <p>{{v.nombreEvento| limitTo: 80}}...</p>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="panel panel-default panel-graf">
                <div class="panel-heading">Monto de viáticos usados a la fecha. <br><i>Los gastos sin comprobantes, son aquellos permitidos por la normativa aplicable.</i></div>
                <div class="panel-body">
                    <canvas id="bar" class="chart chart-bar" chart-legend="true" chart-series="grafViaticos.series"
                            chart-data="grafViaticos.values" chart-labels="grafViaticos.labels">
                    </canvas>
                </div>
            </div>
        </div>

        <!--<div class="col-xs-12 col-sm-6 col-md-6">
            <div class="panel panel-default panel-graf">
                <div class="panel-heading">Días de comisión vs. días laborales</div>
                <div class="panel-body text-center">
                    <canvas id="doughnut" class="chart chart-doughnut" chart-legend="true"
                            chart-data="grafPorcentajes.data" chart-labels="grafPorcentajes.labels">
                    </canvas> 
                    <b>{{grafPorcentajes.totalDiasViaje}} días de viaje</b>
                </div>
            </div>
        </div>
    </div>-->

    <div class="col-md-12 gray">
        <div class="inner-content table-container panel panel-default">
            <div class="cell-container panel-body">
                <h3 class="text-center">Viajes de trabajo realizados</h3>

                <div class="map-container">
                    <leaflet markers="markers" center='mapCenter' width="100%" height="480px" class="map"></leaflet>
                    <div class="aside" ng-show="toggleSidebar">
                        <a href="" ng-click="toggleSidebar = !toggleSidebar" class="arrow-button"></a>
                        <div class="aside-inner-content gray">
                            <h5>Estos son los viajes en: <strong>{{selectedMarker.ciudad}}</strong></h5>
                            <table id="tblViajesMap" class="table table-striped">
                                <tr ng-repeat="v in viajesOnMarker">
                                    <td>

                                    </td>
                                    <td>
                                        <p>Fecha del viaje: <a href="#viaje/{{v.id}}"><strong>{{v.fechaInicio}}</strong></a><br/>
                                            Funcionario: <a href="#funcionario/{{v.idFuncionario}}?n={{v.nombres}}&a1={{v.apellido1}}&a2={{v.apellido2}}"><strong class="blue">{{v.nombres + ' ' + v.apellido1 + ' ' + v.apellido2}}</strong></a></p>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
	    <form>	
		<div ng-show="viajes" class="row filter-custom">
			<div class="col-md-4">
					<label class="checkbox-inline">
						<input type="checkbox" ng-model="filterNacionales" value="nacionales"> Nacionales
					</label>
					<label class="checkbox-inline">
						<input type="checkbox" ng-model="filterInternacionales" value="internacionales"> Internacionales
					</label>
			</div>
								<div class="col-md-1">
										<label for="">Ordenar por:</label>
								</div>
								<div class="col-md-4">
										<select ng-model="orderField" class="form-control">
											<option value="fechaInicio">Fecha del viaje</option>
											<option value="ciudadDestino">Destino del viaje</option>
											<option value="nombreEvento">Nombre del evento</option>
											<option value="costoTotal">Costo total del viaje</option>
											<option value="fechaFin-fechaInicio">Duracion del viaje</option>
										</select>
								</div>
								<div class="col-md-3">
										<div class="radio">
										  <label>
										    <input type="radio" ng-model="isReversed" ng-value="false">
										    Ascendente
										  </label>
										</div>
										<div class="radio">
										  <label>
										    <input type="radio" ng-model="isReversed"  ng-value="true">
										    Descendente
										  </label>
										</div>
								</div>
							</div>
						</form>
            <table st-table="viajes" st-safe-src="viajesSafe" 
                   class="table table-striped">
                <tbody>
                    <tr ng-repeat="v in filterList | start: (currentPage - 1) * pageSize | limitTo: pageSize ">
                        <td><i class="fa fa-map-marker fa-2x"></i></td>
                        <td>
                            <span class="big-blue">{{v.costoTotal| currency: "$"}}</span>
                            <p class="location">{{v.ciudadDestino + ", " + v.paisDestino}}</p>
                            <p>{{v.nombreEvento| limitTo: 80}}...</p>
                        </td>
                        <td class="small">
                            <i class="fa fa-calendar fa-2x col-sm-2"></i>
                            <div class="col-sm-10">
                                <strong>DURACIÓN DEL VIAJE:</strong>
                                <p>{{v.fechaInicio| date:'dd/MM/yyyy'}} <b>a</b> {{v.fechaFin| date:'dd/MM/yyyy'}}</p>
                            </div>
                        </td>
                        <td class="col-sm-3">
                            <a href="#/viaje/{{v.id}}" class="custom-button col-sm-12 animate-all">VER DETALLE DEL VIAJE</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="{{headers.length}}" class="text-center">
                            <pagination total-items="filterList.length" items-per-page="pageSize" ng-model="currentPage" max-size="5" class="pagination-sm" boundary-links="true" previous-text="<" next-text=">" first-text="<<" last-text=">>"></pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>



    <script type="text/ng-template" id="pagination-template.html">
        <span class="pull-right">{{currentPage}} / {{numPages}}</span>
        <div class="pagination" ng-if="pages.length >= 2">
        <ul class="pagination">
        <li ng-if="currentPage > 1">
        <a ng-click="selectPage(1)">&lt;&lt;</a>
        </li>
        <li ng-if="currentPage > 1">
        <a ng-click="selectPage(currentPage-1)">&lt;</a>
        </li>
        <li ng-repeat="page in pages" ng-class="{active: page==currentPage}"><a ng-click="selectPage(page)">{{page}}</a>
        </li>
        <li ng-if="currentPage < numPages">
        <a ng-click="selectPage(currentPage+1)">></a>
        </li>
        <li ng-if="currentPage < numPages">
        <a ng-click="selectPage(numPages)">>></a>
        </li>
        </ul>
        </div>
    </script>

    <script type="text/ng-template" id="myModalContent.html">
        <form name="formEmail">
        <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title blue text-center"><strong>MANTENTE INFORMADO</strong></h3>
        </div>
        <div class="modal-body">
        <p class="text-justify">Ingresa tu correo electrónico para recibir información sobre los viajes del servidor 
        público seleccionado y notificaciones relevantes sobre esta herramienta. Los datos personales recabados 
        estarán protegidos conforme a lo dispuesto por la Ley General de... 
        <a href='assets/pdf/INAI_aviso_privacidad.pdf' target='_blank'>[Ver leyenda de información completa]</a>.</p>
        <input type="email" ng-model="userEmail" class="form-control" 
            placeholder="mail@gmail.com" required/>
        <p class="bg-danger" ng-show="formEmail.$error.email">El correo electrónico no es válido</p>
        </div>
        <div class="modal-footer">
        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 col-sm-offset-3">
        <button class="btn btn-info col-xs-12 square-corners" type="button" 
            ng-click="suscribe()" ng-disabled="formEmail.$error.email || formEmail.$error.required">
        <strong>SUSCRIBIRME AHORA</strong></button>
        </div>
        </div>
        </form>
    </script>

</div>
