<div id="home">

    <div class="home-content-top">
        <div class="map-container">
            <a href="#/" class="close-arrow close-arrow-header" ng-show="!toggleAirplane" ng-click="toggleAirplane = !toggleAirplane"><img src="assets/img/flecha-down.png" alt=""></a>
            <div class="jumbotron-c" ng-show="toggleAirplane">
                <div class="content-airplane">
                    <div class="text-airplane">
                        <a href="#/"><img src="assets/img/logosolo.png" alt="logo" class="logo"></a>
                        <h1><strong>Viajes</strong>Claros</h1>
                        <p>Conoce los gastos y resultados de las comisiones oficiales de trabajo de los servidores públicos del <strong>{{slcDependencia.siglas}}</strong>.</p>
			<!--<p>Seleccione un año para ver el detalle correspondiente: <select ng-model="thisYear" ng-style="form-group" ng-options="year for year in years track by year" ng-change="changeAnio(thisYear)"></select></p>-->
                        <p class="total-viajes"><span>{{totalViajes}}</span> viajes realizados en {{thisYear}}</p>
				
			
                        <a href="#/" class="custom-button bordered animate-color btn-ver-mapa" ng-click="toggleAirplane = !toggleAirplane">Ver mapa</a>
                    </div>
                    <a href="#/" class="close-arrow" ng-click="toggleAirplane = !toggleAirplane"><img src="assets/img/flecha-up.png" alt=""></a>
                </div>
            </div>
            <leaflet markers="markers" center='mapCenter' width="100%" height="480px" class="map"></leaflet>
            <div class="aside" ng-show="toggleSidebar">
                <a href="" ng-click="toggleSidebar = !toggleSidebar" class="arrow-button"></a>
                <div class="aside-inner-content gray">
                    <h5>Estos son los viajes en: <strong>{{selectedMarker.ciudad}}</strong></h5>
                    <table id="tblViajesMap" class="table table-striped">
                        <tr ng-repeat="v in viajesOnMarker">
                            <td>
                                
                            </td>
                            <td>
                                <p>Fecha del viaje: <a href="#viaje/{{v.id}}"><strong>{{v.fechaInicio}}</strong></a><br/>
                                    Servidor Público: <a href="#funcionario/{{v.idFuncionario}}?n={{v.nombres}}&a1={{v.apellido1}}&a2={{v.apellido2}}"><strong class="blue">{{v.nombres + ' ' + v.apellido1 + ' ' + v.apellido2}}</strong></a></p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>  
        </div>
        <div class="total-money gradient-blue">
            <h1><span>{{totalGastado | currency:"$":0}}</span></h1>
            <p>Presupuesto gastado en comisiones oficiales  de trabajo durante <strong>{{thisYear}}</strong></p>
        </div>
    </div>

    <div class="container home-graficas">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="col panel panel-default">
                    <div class="panel-heading text-center"><h5><b>ÚLTIMOS</b> viajes de <strong>{{slcDependencia.siglas}}</strong></h5></div>
                    <div class="list-group">
                        <div class="list-group-item clearfix" ng-repeat="f in tresViajes">
                            <div class="col-sm-2">
                                <h3><i class="fa fa-map-marker icon-circle size-4 gray"></i></h3>
                            </div>
                            <div class="col-sm-10">
                                {{f.ciudadDestino}}, <strong>{{f.paisDestino}}</strong> <br/>
                                <a href="#/viaje/{{f.id}}">{{f.nombreEvento| uppercase | limitTo: 50}}...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="col panel panel-default ">
                    <div class="panel-heading text-center"><h5 class="text-center">Servidores públicos con <strong>MAYOR GASTO</strong></h5></div>
                    <div class="list-group">
                        <div class="list-group-item clearfix" ng-repeat="f in tresServidores">
                            <div class="col-sm-2">
                                <h3><i class="fa fa-user icon-circle size-4 gray"></i></h3>
                            </div>
                            <div class="col-sm-10">
                                <a class="big-blue" href="#/funcionario/{{f.id}}?n={{f.nombres}}&a1={{f.apellido1}}&a2={{f.apellido2}}">{{f.nombres + " " + f.apellido1 + " " + f.apellido2}}</a><br/>
                                <small class="gray">{{f.cargo| uppercase}}</small> <br/>
                                <span class="monto">{{f.totalGasto| currency: "$"}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="col panel panel-default ">
                    <div class="panel-heading text-center"><h5 class="text-center">Servidores públicos con <strong>MÁS VIAJES</strong></h5></div>
                    <div class="list-group">
                        <div class="list-group-item clearfix" ng-repeat="f in tresServidoresViajes">
                            <div class="col-sm-2">
                                <h3><i class="fa fa-user icon-circle size-4 gray"></i></h3>
                            </div>
                            <div class="col-sm-10">
                                <p><a class="big-blue" href="#/funcionario/{{f.id}}?n={{f.nombres}}&a1={{f.apellido1}}&a2={{f.apellido2}}">{{f.nombres + " " + f.apellido1 + " " + f.apellido2}}</a><br/>
                                    <small class="gray">{{f.cargo| uppercase}}</small><br/>
                                    {{f.totalViajes}} viajes realizados</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
