<!DOCTYPE html>
<div id="viaje" class="fluid-container">

    <div class="row">
        <div class="col-md-2">

        </div>

        <div class="col-md-9 breadcrumb-custom">
            <p class="breadcrumb-custom">
                <a href="#/" class="gray">Inicio</a> | <a class="gray" href="#/funcionario/{{funcionario.id}}?n={{funcionario.nombres}}&a1={{funcionario.apellido1}}&a2={{funcionario.apellido2}}">{{funcionario.nombres + " " + funcionario.apellido1 + " " + funcionario.apellido2}}</a> | <a href="#/viaje/{{viajeResumen.id}}">{{viajeResumen.nombreEvento| limitTo: 50}}...</a>
            </p>
        </div>
    </div>

    <div class="row">

        <div class="col-md-2 hidden-xs hidden-sm">
            <div class="list-group menu-viaje col-md-2 hidden-sm">
                <a class="list-group-item" href="#" scroll-to="panel-com" ng-click="setActiveCat(1)"><i class="fa fa-flag fa-fw"></i>&nbsp; Comisión</a>
                <a class="list-group-item" href="#" scroll-to="panel-fun" ng-click="setActiveCat(2)"><i class="fa fa-user fa-fw"></i>&nbsp; Servidor Público</a>
                <a class="list-group-item" href="#" scroll-to="panel-tip" ng-click="setActiveCat(3)"><i class="fa fa-suitcase fa-fw"></i>&nbsp; Detalle del viaje</a>
                <!--<a class="list-group-item" href="#" scroll-to="panel-dat" ng-click="setActiveCat(4)"><i class="fa fa-link fa-fw"></i>&nbsp; Evento</a>-->
                <a class="list-group-item" href="#" scroll-to="panel-via" ng-click="setActiveCat(5)"><i class="fa fa-dollar fa-fw"></i>&nbsp; Viáticos</a>
                <a class="list-group-item" href="#" scroll-to="panel-inf" ng-click="setActiveCat(6)"><i class="fa fa-file-text-o fa-fw"></i>&nbsp; Informe de comisión</a>
                <!--<a class="list-group-item" href="#" scroll-to="panel-vue" ng-click="setActiveCat(7)"><i class="fa fa-plane fa-fw"></i>&nbsp; Información de vuelo</a>-->
                <a class="list-group-item" href="#" scroll-to="panel-obs" ng-click="setActiveCat(8)"><i class="fa fa-search fa-fw"></i>&nbsp; Observaciones</a>
            </div>
        </div>

        <div class="col-md-9">
            <div class="panel gradient-blue travel-title col-sm-12">
                <div class="panel-body">
                    <div class="col-sm-6 white">
                        <h5><strong>{{viajeResumen.nombreEvento}}</strong></h5>
                        <p>Gasto total del viaje: <strong>{{viajeResumen.costoTotal| currency: "$"}}</strong></p>
                    </div>
                    <div class="col-sm-6 white">
                        <div class="row">
                            <div class="pull-left">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                                    <i class="fa fa-calendar fa-stack-1x"></i>
                                </span>
                            </div>
                            <div class="pull-left"><strong>Duración del viaje:</strong><br/>
                                {{viajeResumen.fechaInicio}} <strong>al</strong> {{viajeResumen.fechaFin}}</div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <a href="" ng-click="fbShare(funcionario.id)" class="share-link animate-all"><strong><small>
                                            <i class="fa fa-facebook fa-lg"></i> COMPARTIR</small></strong></a>
                            </div>
                            <div class="col-sm-4">
                                <a class="share-link animate-all" target="_blank"
                                   ng-href="https://twitter.com/intent/tweet/?text=Ve el perfil de {{funcionario.nombres + ' ' + funcionario.apellido1 + ' ' + funcionario.apellido2}} en &hashtags=ViajesClaros&url=http://viajesclaros.inai.org.mx/funcionario/{{funcionario.id}}?n={{funcionario.nombres.split(' ').join('%2520')}}%26a1={{funcionario.apellido1.split(' ').join('%2520')}}%26a2={{funcionario.apellido2.split(' ').join('%2520')}}"><strong><small>
                                            <i class="fa fa-twitter fa-lg"></i> COMPARTIR</small></strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gray row">

                <div class="col-sm-6">
                    <div id="panel-com" class="panel panel-default" ng-class="{'active': isActiveCat(1)}">
                        <div class="panel-heading">
                            <span class="fa-stack fa-lg gray">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-flag fa-stack-1x"></i>
                            </span> Comisión
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="d in datosComision" class="col-sm-6">
                                <p class="text-justify">
                                    <strong>{{d.codigo}}</strong><br/>
                                    {{d.descripcion}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div id="panel-tip" class="panel panel-default" ng-class="{'active': isActiveCat(3)}">
                        <div class="panel-heading">
                            <span class="fa-stack fa-lg gray">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-suitcase fa-stack-1x"></i>
                            </span> Detalle de viaje
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="d in datosTipoViaje" class="col-sm-6">
                                <p>
                                    <strong>{{d.codigo}}</strong><br/>
                                    {{d.descripcion}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div id="panel-via" class="panel panel-default" ng-class="{'active': isActiveCat(5)}">
                        <div class="panel-heading">
                            <span class="fa-stack fa-lg gray">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-dollar fa-stack-1x"></i>
                            </span> Viáticos
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="d in datosViaticos" class="col-sm-6">
                                <p>
                                    <strong>{{d.codigo}}</strong><br/>
                                    {{d.descripcion}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <!--<div id="panel-vue" class="panel panel-default" ng-class="{'active': isActiveCat(7)}">
                        <div class="panel-heading">
                            <span class="fa-stack fa-lg gray">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-plane fa-stack-1x"></i>
                            </span> Información de vuelo
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="d in datosVuelo" class="col-sm-6">
                                <p>
                                    <strong>{{d.codigo}}</strong><br/>
                                    {{d.descripcion}}
                                </p>
                            </div>
                        </div>
                    </div>-->

                </div>

                <div class="col-sm-6">

                    <div id="panel-fun" class="panel panel-default" ng-class="{'active': isActiveCat(2)}">
                        <div class="panel-heading">
                            <span class="fa-stack fa-lg gray">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-user fa-stack-1x"></i>
                            </span> Servidor Público
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="d in datosFuncionario" class="col-sm-6">
                                <p>
                                    <strong>{{d.codigo}}</strong><br/>
                                    {{d.descripcion}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <!--<div id="panel-dat" class="panel panel-default" ng-class="{'active': isActiveCat(4)}">
                        <div class="panel-heading">
                            <span class="fa-stack fa-lg gray">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-link fa-stack-1x"></i>
                            </span> Evento
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="d in datosEvento" class="col-sm-12">
                                <p>
                                    <strong>{{d.codigo}}</strong><br/>
                                    {{d.descripcion}}
                                </p>
                            </div>
                        </div>
                    </div>-->

                    <div id="panel-inf" class="panel panel-default" ng-class="{'active': isActiveCat(6)}">
                        <div class="panel-heading">
                            <span class="fa-stack fa-lg gray">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-file-text-o fa-stack-1x"></i>
                            </span> Informe de comisión
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="d in datosInforme" class="col-sm-12">
                                <p class="text-justify">
                                    <strong>{{d.codigo}}</strong><br/>
                                    {{d.descripcion}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div id="panel-obs" class="panel panel-default" ng-class="{'active': isActiveCat(8)}">
                        <div class="panel-heading">
                            <span class="fa-stack fa-lg gray">
                                <i class="fa fa-circle-thin fa-stack-2x"></i>
                                <i class="fa fa-search fa-stack-1x"></i>
                            </span> Observaciones
                        </div>
                        <div class="panel-body">
                            <div ng-repeat="d in datosObservaciones" class="col-sm-6">
                                <p>
                                    <strong>{{d.codigo}}</strong><br/>
                                    {{d.descripcion}}
                                </p>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>